.container {
	background-color: white;
	color: grey;
	opacity: 0.9;
}

.container.newUserOrLogin {
	width: 300px;
	height: 100px;
	margin-top: 60px;
}

.container.loginInput {
	width: 275px;
	height: 150px;
	margin-bottom: 20px;
}

.login {
	margin-top: 60px;
	width: 300px;
	height: 285px;

}

.loginLabel {
	font-family: inherit;
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.btn.btn-primary.btn-lg.rookieButton {
	margin-left: 27px;
}

.newLoginButton{
	margin-top: 20px;
}

.form-control.username {
    width: 238px;
}

.container.rookieOrExpert{
	margin-top: 10px;
	width: 240px;
}

.container.main {
	width: 76%;
	margin-bottom: 60px;
	margin-top: 60px;
	padding-left: 25px;
	padding-right: 25px;
}

.containsSubmitButton{
	padding-bottom: 40px;
}

.container.newExpert {
	height: 1200px;
}

.container.newRookie {
	height: 1200px;
}

.container.viewAndUpdate {
	height: 345px;
}

.container.mapAndSchedule {
	height: 400px;
}

.btn-group-lg>.btn, .btn-lg{
	position: relative;
	top: 28px;
    margin-left: 20px;
    margin-right: 14px;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.jumbotron {
	background-color: black;
	color: white;
	opacity: 0.8;
	text-align: center;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%
}

body.index {
	background-image: url("../images/gymbuddy3.jpg");
}

body.pro {
	background-image: url("../images/gymbuddy2.jpg");
}

body.proForm {
	background-image: url("../images/workout-partner.jpg");
}

body.user {
	background-image: url("../images/workout-partner.jpg");
}

body.form {
	background-image: url("../images/gymbuddy.png");
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.card {
	display: block;
	float: left;
	margin-bottom: 5px;
	height: calc(35%);
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

 #map {
	height: 40%;
  }

  #description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
  }
  
  #infowindow-content .title {
	font-weight: bold;
  }
  
  #infowindow-content {
	display: none;
  }
  
  #map #infowindow-content {
	display: inline;
  }
  
  .pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
  }
  
  #pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
  }
  
  .pac-controls {
	display: inline-block;
	padding: 5px 11px;
  }
  
  .pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
  }
  
  #pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
  }
  
  #pac-input:focus {
	border-color: #4d90fe;
  }
  
  #title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
  }
  
